html {
	margin: 0;
	padding: 0;
}

body {
	padding: 0;
	margin: 0;
	font-family: "Domine", Courier, "Courier New", monospace;
	background-color: #ddd;
	}

div#main{
    margin-left:auto;
    margin-right:auto;
    width:800px;
    margin-top:10px;

    }

#nav-bar{
    float:right;
    clear:left;
    margin-bottom:30px;
    }

#nav-bar h1{
	font-size:1.75em;
	font-family: 'Quintessential', cursive;
	float:right;
	clear:both;
	}
	
#nav-bar ul{
	list-style-type:none;
	margin-top:0;
	float:right;
	clear:both;
}

#nav-bar ul li{
	display:inline;
	float:left;
}

a {
	text-decoration:none;
	color:blue;
	}

a:hover {
	text-decoration:underline;
	}

#nav-bar a:hover{
	text-shadow: -1px 0 0.2em blue,1px 0 0.2em blue,0 -1px 0.2em blue,0 1px 0.2em blue;
	color:white;
	text-decoration:none;
	}

a.navicon{
    margin-right:15px;
    }
    
#content-center{
    float:left;
    clear:right;
    width: 100%;
    background-color:white;
    border-radius:5px;
    border: 1px solid grey;
    padding:0 15px 0 15px;
    }
    
#bottom-stuff{
    clear:both;
    padding-top:40px; 
    }
    
p.copyright{
    width:230px;
    margin-left:auto;
    margin-right:auto;
    

