html {
	background-color: #FFFFFF;
	margin: 0;
	padding: 0;
}

body {
	padding: 0;
	margin: 0;
	font-family: Courier, "Courier New", monospace;
}

div#main{
    margin-left:auto;
    margin-right:auto;
    width:800px;
    margin-top:10px;

    }

#nav-bar{
    float:right;
    clear:left;
    margin-bottom:50px;
    }

#nav-bar h1{
	font-size:1.3em;
	float:right;
	}
	
#nav-bar ul{
	list-style-type:none;

}

#nav-bar ul li{
	display:inline;
	float:left;
}

a.navicon{
    margin-right:15px;
    }
    
#content-center{
    float:left;
    clear:right;
    }
    
#bottom-stuff{
    clear:both;
    padding-top:40px; 
    }
    
p.copyright{
    width:230px;
    margin-left:auto;
    margin-right:auto;
    

