html {
	background-color: #777777;
	margin: 0;
	padding: 0;
}

body {
	padding: 0;
	margin: 0;
}

div#main{
    position: absolute;
    left: 50%;
    width: 800px;
    margin-top: 50px;
    margin-left: -416px;
    padding: 15px;

#navbar{
    text-align: right;
    
    

