<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta content="text/html; charset=utf-8" http-equiv="content-type" />
<title>JOH Site</title>
<link rel="stylesheet" href="/main.css" type="text/css" />
</head>
<body>
<div id="main">
	<!-- header with name and picture -->	
	
	<div id="nav-bar">
   	        <h3>Joseph O. Hebert site</h3>
			<a href="index.html">Blog</a>
			<a class="navicon" href="about.html">About me</a>
			<a class="navicon" href="other.html">Other stuff</a>


	</div>
		

	<div id="content-center">
        {{content}}
    </div>
    <div id="bottom-stuff">
	        <p class="copyright">© 2012 Joseph O. Hebert</p>
    </div>
</div>

</body>
</html>
