<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta content="text/html; charset=utf-8" http-equiv="content-type" />
<title>JOH Site</title>
<link rel="stylesheet" href="/main.css" type="text/css" />
</head>
<body>
<div id="main">
	<!-- header with name and picture -->	
	
	<div id="nav-bar">
   	        <h1>Joseph O. Hebert site</h1>
			<ul>
				<li><a class="navicon" href="/index.html">Blog</a></li>
				<li><a class="navicon" href="/about.html">About me</a></li>
				<li><a href="/other.html">Other stuff</a></li>
			</ul>
	</div>
		

	<div id="content-center">
        {{content}}
    </div>
    <div id="bottom-stuff">
	        <p class="copyright">© 2012 Joseph O. Hebert</p>
    </div>
</div>

</body>
</html>
