<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta content="text/html; charset=utf-8" http-equiv="content-type" />
<title>JOH Tech Writing</title>
<link rel="stylesheet" href="/main.css" type="text/css" />
</head>
<body>

	<!-- header with name and picture -->	
	<div id="nav-bar">
		<p class="nav-words">Joseph O. Hebert</p>
		<div id="nav-icons">
			<a href="index.html"><img class="navgifs" src="/images/homeicon.gif" alt="Home" /></a>
			<a href="about.html"><img class="navgifs" src="/images/abouticon.gif" alt="About Me" /></a>
			<a href="other.html"><img class="navgifs" src="/images/othericon.gif" alt="Other Works" /></a>
			<a href="http://josephoh.blogspot.com"><img class="navgifs" src="/images/blogicon.gif" alt="Blog" /></a>
			<a href="resumes.html"><img class="navgifs" src="/images/resumesicon.gif" alt="Resumes" /></a>
		</div>
	</div>
		<div id="top-center">
			<div class="home-section">
          {{content}}
 </div>
		</div>

	
	<!-- a bottom section to stretch out home-center below the left/right columns -->
		<div id="content-bottom">
		</div>

	</div>
<p class="copyright">© 2012 Joseph O. Hebert</p>	
</body>
</html>
