<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta content="text/html; charset=utf-8" http-equiv="content-type" />
<title>JOH</title>
<link rel="stylesheet" href="main.css" type="text/css" />
</head>
<body>

	<!-- header with name and picture -->	
	<div id="header">
		<div id="header-title">
			<h1 class="header-words">Joseph O. Hebert</h1>
		</div>
		<img id="header-pic" src="images/megreeny.gif" alt="green" />
	</div>

	<div id="home-center">

		<!-- a potential centered top section <div id="top-center">
			<div class="home-section">
				<h2><a href="about.html">About Me</a></h2>
				<p>Dirty secrets of the man behind the site</p>			
			</div>
		</div> -->

		<!-- two columns, left and right, for listing the site links -->
		<div id="left-center">
			<div class="home-section">
				<h2><a href="about.html">About Me</a></h2>
				<p>Yes, there is a real human being behind this website.</p>			
			</div>
			<br />
			<div class="home-section">
				<h2><a href="tech.html">Tech Writing</a></h2>
				<p>Samples of some of the technical writing I have done</p>			
			</div>
			<br />
			<div class="home-section">
				<h2><a href="other.html">Other Works</a></h2>
				<p>Some non-tech writing and other accumulated oddities</p>
			</div>
		</div>
		
		<div id="right-center">
			<div class="home-section">
				<h2><a href="http://josephoh.blogspot.com">Blog</a></h2>
				<p>Previously it was about living and working in China, but these days I don't know where it's going </p>
			</div>
			<br />
			<div class="home-section">
				<h2><a href="resumes.html">Resumes</a></h2>
				<p>For those employers kind enough to consider me for a job</p>
			</div>
		</div>

	<!-- a bottom section to stretch out home-center below the left/right columns -->
		<div id="content-bottom">
		</div>

	</div>
<p class="copyright">© 2008 Joseph O. Hebert</p>	
</body>
</html>
